<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
  <head>
    <title>Web project template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
          <h1>The Cocktail.</h1>
      </div>
    </div>

    <div class="container">
      <h1>Sample HTML</h1>
      <p>
        Test BrowserSync. Task:"$ gulp serve"
        <br />
      </p>
    </div>

    <!-- load angular via CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
