<!-- Modal -->
<div class="modal fade" tabindex="-1" id="mymodal" role="dialog" aria-labelledby="gridsystemsodallabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tabla" aria-controls="tabla" role="tab" data-toggle="tab">Tabla de amortización</a></li>
          <li role="presentation"><a href="#datos" aria-controls="datos" role="tab" data-toggle="tab">Datos del producto</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tabla">
                <div class="row">
                  <div class="col-xs-12 modal-info text-center">
                    <p>
                      Si tienes ingresos extras puedes realizar pagos adelantados directamente a tu saldo.
                      <br />
                      Prográmalos de manera constante en la siguiente tabla y observa los resultados en el detalle de amortización.
                      <br />
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default">Reducir tu:</label>
                      <select class="form-control form-control-alt" id="61" name="gastos" placeholder="gastos">
                        <option>Plazo</option>
                        <option value="1">Saldo</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default">¿Cuánto puedo pagar?</label>
                      <div class="input-group input-group-inset">
                        <span class="input-group-addon input-group-addon-inset" id="basic-addon62"><span class="glyphmap24-pesos"></span></span>
                        <input class="form-control form-control-alt" id="default62" name="default" placeholder="15,000" type="text" aria-describedby="basic-addon1" value="15,000" />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default">¿A partir de qué número de pago?</label>
                      <div class="input-group input-group-inset">
                        <span class="input-group-addon input-group-addon-inset" id="basic-addon63"><span class="glyphmap24-pesos"></span></span>
                        <input class="form-control form-control-alt" id="default63" name="default" placeholder="220" type="text" aria-describedby="basic-addon1" value="220" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default">¿Cada cuándo haré mi pago?</label>
                      <div class="row">
                        <div class="col-xs-4">
                          <select class="form-control form-control-alt" id="cuando" name="gastos" placeholder="gastos">
                            <option>3</option>
                            <option value="1">6</option>
                            <option value="1">13</option>
                          </select>
                        </div>
                        <div class="col-xs-8">
                          <select class="form-control form-control-alt" id="tipo-cuanto" name="gastos" placeholder="gastos">
                            <option>Meses</option>
                            <option value="1">Años</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default">¿Por cuánto tiempo haré mi pago?</label>
                      <select class="form-control form-control-alt" id="tiempo" name="gastos" placeholder="gastos">
                        <option>130</option>
                        <option value="1">150</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label for="default"><br /></label>
                      <select class="form-control form-control-alt" id="toooo" name="gastos" placeholder="gastos">
                        <option>Todo el crédito</option>
                        <option value="1">Otra cosa</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">
                    <br />
                    <table class="table table-striped table-fixed">
                      <thead>
                        <tr>
                          <th>Pago</th>
                          <th>Saldo insoluto</th>
                          <th>Interés</th>
                          <th>Amortización</th>
                          <th>Mensualidad <br />(Sin Accesorios)</th>
                          <th>Seguros de <br />vida y daños</th>
                          <th>Comisión <br />Aut. Dif.</th>
                          <th>Mensualidad <br />total</th>
                          <th>Pagos <br />anticipados</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>
                        <tr>
                          <td><strong>215</strong></td>
                          <td>2,337,997.35</td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td><span>0</span></td>
                        </tr>

                        <tr>
                          <td colspan="2" class="text-left"><strong>Totales</strong></td>
                          <td>37,977.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td>2,337,997.35</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td colspan="9">
                            <small>
                              "Esta información constituye un ejercicio numerico de acuerdo a una simulación
                              de condiciones de crédito por lo que el usuario queda enterado que la información
                              que obtenga, no constituye una solicitud de crédito, ni implica obligación para
                              BBVA Bancomer, S.A."
                            </small>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="row text-right modal-small-text">
                  <div class="col-xs-8">
                  </div>
                  <div class="col-xs-4">
                    <a href="#"><span class="glyphmap16-actualizar"></span> Actualizar</a>
                    <a href="#"><span class="glyphmap16-descargar"></span> Descargar</a>
                  </div>
                </div>


              </div>
              <div role="tabpanel" class="tab-pane" id="datos">
                <div class="row">
                  <div class="col-xs-12">
                    <h2>Adquisición pesos tasa fija Cofinavit 75%</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Plazo:
                      <br />
                      <strong>20 años</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Taza:
                      <br />
                      <strong>9.95%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Pago por mil:
                      <br />
                      <strong>$ 8.75</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Com. por aut. diferida:
                      <br />
                      <strong>$ 0.25</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Factor seguro de vida:
                      <br />
                      <strong>$ 0.3883</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Factor seguro de daños:
                      <br />
                      <strong>$ 0.5075</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Valor destructible:
                      <br />
                      <strong>$ 1,450,000.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      CAT:
                      <br />
                      <strong>12.2 %</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Financiamiento máximo:º
                      <br />
                      <strong>90%</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Ingreso mensual estimado:
                      <br />
                      <strong>$ 29,814.18</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Factor de incremento anual:
                      <br />
                      <strong>2.20 %</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                    </p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <h2>Recursos Bancomer</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Valor de la vivienda:
                      <br />
                      <strong>$ 2,500,000.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Crédito BBVA Bancomer:
                      <br />
                      <strong>12.2%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Financiamiento real:
                      <br />
                      <strong>61%</strong>
                    </p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <h2>Recursos Infonavit</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Monto de crédito (Infonavit):
                      <br />
                      <strong>$ 12,123.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Saldo subcuenta de vivienda:
                      <br />
                      <strong>12.2%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Gastos Infonavit:
                      <br />
                      <strong>61%</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Total de Recursos Infonavit
                      <br />
                      <strong>$ 14,820.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>

                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>

                    </p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <h2>Recursos Bancomer</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Valor de vivienda:
                      <br />
                      <strong>$ 2,500,000.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Crédito BBVA Bancomer:
                      <br />
                      <strong>12.2%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Financiamiento real:
                      <br />
                      <strong>61%</strong>
                    </p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <h2>Recursos Infonavit</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Monto de credito (Infonavit):
                      <br />
                      <strong>$ 12,123.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Saldo subcuenta de vivienda:
                      <br />
                      <strong>12.2%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Gastos infonavit:
                      <br />
                      <strong>61%</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Total de recursos infonavit:
                      <br />
                      <strong>$ 14,820.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>

                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>

                    </p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12">
                    <h2>Gastos de originación</h2>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="row">
                      <div class="col-xs-12">
                        <p>
                          Gastos notariales:
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="form-group">
                          <select class="form-control form-control-alt" id="71" name="gastos" placeholder="gastos">
                            <option>6%</option>
                            <option value="1">7%</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <p><strong>$ 120,000.00</strong></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Honorarios por avaluo:
                      <br />
                      <strong>12.2%</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <div class="row">
                      <div class="col-xs-12">
                        <p>
                          Gastos de investigación:
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group">
                          <select class="form-control form-control-alt" id="72" name="gastos" placeholder="gastos">
                            <option>una</option>
                            <option value="1">dos</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>61%</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Comisión por apertura:
                      <br />
                      <strong>$ 0.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Total de gastos
                      <br />
                      <strong>$ 126,480.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      Enganche
                      <br />
                      <strong>$ 753,949.00</strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p>
                      Desembolso inciial requerido:
                      <br />
                      <strong>$ 880,420.00</strong>
                    </p>
                  </div>
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <a href="../precalificador/index.html" class="btn btn-info btn-block btn-xlg">Precalificar ¡AHORA!</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
