/*
 * BBVA Bancomer
 * Copyright 2016-present The Cocktail América S.A. de C.V.
 *
 * Glyphmaps
 *
 */

 [class^="glyphmap"] {
   background: transparent url('../img/glyphmap128.png') no-repeat 0 0;
   /*@include at2x('../img/glyphmap-default.png', 'png', $glyphmap-sprite-w, $glyphmap-sprite-h);*/
   content: '';
   display: inline-block;
   height: #{$glyphmap-height}px;
   vertical-align: middle;
   width: #{$glyphmap-width}px;
 }
 [class^="glyphmap64-"] {
   background: transparent url('../img/glyphmap64.png') no-repeat 0 0;
   /*@include at2x('../img/glyphmap-default.png', 'png', $glyphmap-sprite-w, $glyphmap-sprite-h);*/
   height: #{$glyphmap-height / 2}px;
   width: #{$glyphmap-width / 2}px;
 }
 [class^="glyphmap32-"] {
   background: transparent url('../img/glyphmap32.png') no-repeat 0 0;
   /*@include at2x('../img/glyphmap-default.png', 'png', $glyphmap-sprite-w, $glyphmap-sprite-h);*/
   height: #{$glyphmap-height / 4}px;
   width: #{$glyphmap-width / 4}px;
 }
 [class^="glyphmap24-"] {
   background: transparent url('../img/glyphmap24.png') no-repeat 0 0;
   /*@include at2x('../img/glyphmap-default.png', 'png', $glyphmap-sprite-w, $glyphmap-sprite-h);*/
   height: #{$glyphmap-height / 5}px;
   width: #{$glyphmap-width / 5}px;
 }
 [class^="glyphmap16-"] {
   background: transparent url('../img/glyphmap16.png') no-repeat 0 0;
   /*@include at2x('../img/glyphmap-default.png', 'png', $glyphmap-sprite-w, $glyphmap-sprite-h);*/
   height: #{$glyphmap-height / 8}px;
   width: #{$glyphmap-width / 8}px;
 }

.glyphmap-on,
.active .glyphmap {
  background-position-y: -#{$glyphmap-height}px;
}
/*.glyphmap-default { background-position: 0 -32px; }
.active .glyphmap-default { background-position: -32px -32px; }*/

@include glyphmap('calculadora', 0);
@include glyphmap('certificado', 1);
@include glyphmap('casaymesa', 2);
@include glyphmap('telefono', 3);
@include glyphmap('persona', 4);
@include glyphmap('pesos', 5);
@include glyphmap('interrogacion', 6);
@include glyphmap('mas', 7);
@include glyphmap('actualizar', 8);
@include glyphmap('descargar', 9);
@include glyphmap('tabla', 10);
@include glyphmap('edificio', 11);
@include glyphmap('tarjeta', 12);
@include glyphmap('casaporcentaje', 13);
@include glyphmap('auto', 14);
@include glyphmap('lapiz', 15);
@include glyphmap('info', 16);
@include glyphmap('persona-circulo', 17);
@include glyphmap('historial-circulo', 18);
@include glyphmap('domicilio-circulo', 19);
