//
// Panels
// --------------------------------------------------
//
// Panels
// --------------------------------------------------
@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  & > .panel-heading {
    color: $heading-text-color;
    background-color: $heading-bg-color;
    border-color: $heading-border;

    a { color: white; }

    + .panel-collapse > .panel-body {
      border-top-color: $border;
    }
    .badge {
      color: $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $border;
    }
  }
}

// Base class
.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));

  &.panel-shadow {
    border: 0 none;
    @include box-shadow(0 1px 4px 0 RGBA(162,162,162,0.5));

    .panel-heading {
      border: 0 none;
    }
  }
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  //@include border-top-radius(($panel-border-radius - 1));
  border-radius: $panel-border-radius;


  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  font-size: $font-size-xlarge;
  color: inherit;

  &:first-line { font-weight: 600;}

  > a {
  //> small,
  //> .small,
  //> small > a,
  //> .small > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid $panel-inner-border;
  @include border-bottom-radius(($panel-border-radius - 1));
}






// Contextual variations
.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.panel-success {
  @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-warning {
  @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.panel-danger {
  @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}
.panel-bancomer2 {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);

  & > .panel-heading {
    @include gradient-vertical($start-color: lighten($btn-primary-bg, 10%), $end-color: $btn-primary-bg);
  }
}
.panel-azul {
  @include panel-variant($panel-azul-border, $panel-azul-text, $panel-azul-heading-bg, $panel-azul-border);
}
.panel-azul2 {
  @include panel-variant($panel-azul2-border, $panel-azul2-text, $panel-azul2-heading-bg, $panel-azul2-border);
}
.panel-azul3 {
  @include panel-variant($panel-azul3-border, $panel-azul3-text, $panel-azul3-heading-bg, $panel-azul3-border);
}
.panel-azul4 {
  @include panel-variant($panel-azul4-border, $panel-azul4-text, $panel-azul4-heading-bg, $panel-azul4-border);
}
.panel-azul5 {
  @include panel-variant($panel-azul5-border, $panel-azul5-text, $panel-azul5-heading-bg, $panel-azul5-border);
}
.panel-azul6 {
  @include panel-variant($panel-azul6-border, $panel-azul6-text, $panel-azul6-heading-bg, $panel-azul6-border);
}

.panel-bancomer {
  border: 1px solid $gray-light;
  background-color: $gray-light;
  @include reset-filter;
  color: $gray;
  @include grayscale(1);

  &:hover,
  &:focus {
    color: $gray;
  }
  &.active {
    @include gradient-vertical($start-color: lighten($btn-primary-bg, 10%), $end-color: $btn-primary-bg);
    color: white;
    @include grayscale(0);

    [class^="glyphmap"] {
      @include brightness(1);
    }
  }
}


.panel-bancomer2 {
  /*border: 1px solid $gray-light;
  background-color: $gray-light;
  @include reset-filter;
  color: $gray;
  @include grayscale(1);

  &:hover,
  &:focus {
    color: $gray;
  }
  &.active {
    @include gradient-vertical($start-color: lighten($btn-primary-bg, 10%), $end-color: $btn-primary-bg);
    color: white;
    @include grayscale(0);

    [class^="glyphmap"] {
      @include brightness(1);
    }
  }*/
}
