/*
* BBVA Bancomer
* Copyright 2016-present The Cocktail América S.A. de C.V.
*
* Type
*
*/
h1, h2, h3, h4, h5 { font-family: 'Open Sans', sans-serif; }

h1 {
  color: $azul3;
  font-size: $font-size-h1;
}
h2 {
  color: $azul;
  font-size: $font-size-h2;
  font-weight: 600;
}
h3 {
  color: #2E72B4;
  font-size: $font-size-h3;
  font-weight: 100;
}

.text-xxlarge { font-size: $font-size-xxlarge; }
.text-xlarge { font-size: $font-size-xlarge; }
.text-large { font-size: $font-size-large; }
.text-medium { font-size: $font-size-medium; }
.text-medium-small { font-size: $font-size-medium-small; }
.text-small { font-size: $font-size-small; }
.text-xsmall { font-size: $font-size-xsmall; }

.text-azul1 { color: $azul; }
.text-azul2 { color: $azul2; }
.text-azul3 { color: $azul3; }
.text-azul4 { color: $azul4; }
.text-azul5 { color: $azul5; }
.text-azul6 { color: $azul6; }

ul {
  font-size: $font-size-medium;
  list-style: none;
  padding: 0;

  &.list-hyphen {
    li {
      font-weight: 100;
      line-height: 35px;

      &:before {
        content: " - ";
      }
    }
  }

  li {

  }
}

// Contextual colors
.text-muted {
  color: $text-muted;
}
