{% extends "includes/base.html" %}

{% set title = 'BBVA Bancomer' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{%
  set document = {
    "header_img": "header_c.jpg",
    "footer_img": "footer_c.jpg"
  }
%}

{% include "includes/header.html" %}

<div class="gray" id="main" role="main">
  <header>
    <div class="container">
      <h1>¡Precalifica tu Hipoteca en solo 3 pasos!</h1>
    </div>
  </header>
  <section class="container">
    <div class="panel panel-shadow">
      <div class="panel-body">
        <form class="form1" id="intro" method="post" action="precalificador_step_1.html" data-toggle="validator" role="form">
          <fieldset>
            <legend>Antes de empezar, por favor verifica que estas afirmaciones son verdaderas...</legend>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 text-medium">
                <p>Soy mayor de edad</p>
                <p>Soy persona física y tengo RFC <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Los últimos 3 meses"></span></p>
                <p>Tengo comprobantes de ingreso <span>(Últimos 3 meses)</span> <span class="glyphmap24-interrogacion"  data-toggle="tooltip" data-placement="right" title="Si eres persona física tu RFC debe estar compuesto por 11 simbolos entre letras y números"></span></p>
                <p>Tengo o he tenido algún crédito antes <span>(Tarjeta de Crédito, Hipotecario, Automotriz)</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <div class="form-group">
                  <div class="checkbox-awesome checkbox-primary agree-checkbox">
                    <input type="checkbox" id="checkbox1" required="required"/>
                    <label for="checkbox1" class="text-medium">
                      <strong>Certifíco que estas afirmaciones son verdaderas</strong>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <button type="submit" class="btn btn-info btn-block btn-lg awesome-validator">Comenzar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>

{% include "includes/footer.html" %}

{% endblock %}
