{% extends "includes/base.html" %}

{% set title = 'BBVA Bancomer' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{%
  set document = {
    "header_img": "header_c.jpg",
    "footer_img": "footer_c.jpg"
  }
%}

{% include "includes/header.html" %}

<div class="gray" id="main" role="main">
  <header>
    <div class="container">
      <h1>¡Listo! ya casi terminas, verifica que<br /> toda tu información este correcta!</h1>
    </div>
  </header>

  <section class="container" id="datos">
    <div class="panel panel-shadow">
      <div class="panel-body mediumgray-bg">
        <form class="form1" id="verifica" action="precalificador_step_3.html" role="form" method="post" data-toggle="validator">
          <div class="mediumgray-bg">
            <div class="row">
              <div class="col-lg-12 text-left">
                <button id="editar1" type="button" class="pull-right"><span class="glyphmap16-lapiz"></span> Editar</button>
                <h2 class="text-azul2">Datos personales</h2>
                <hr />
              </div>
            </div>

            <fieldset id="set1">
              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <p class="form-control-static">Juan Manuel</p>
                        <input class="form-control form-control-gray" id="nombre" name="nombre" placeholder="Nombre" type="text" value="Juan Manuel" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom"/>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="materno">Apellido parterno</label>
                        <p class="form-control-static">García</p>
                        <input class="form-control form-control-gray" id="materno" name="materno" placeholder="Apellido Materno" type="text" value="Garcíal" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="paterno">Apellido marterno</label>
                        <p class="form-control-static">Ovalle</p>
                        <input class="form-control form-control-gray" id="paterno" name="paterno" placeholder="Apellido Paterno" type="text" value="Ovalle" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="rfc">RFC</label>
                        <p class="form-control-static">MAJJ880393023</p>
                        <input class="form-control form-control-gray" id="rfc" name="rfc" placeholder="RFC" type="text" value="MAJJ880393023" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="fecha">Fecha de nacimiento</label>
                            <p class="form-control-static">24/07/1987</p>
                            <div class="row">
                              <div class="col-xs-4">
                                <div class="form-group">
                                  <input class="form-control form-control-gray" id="dia" name="dia" placeholder="DD" type="text" value="24" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="form-group">
                                  <input class="form-control form-control-gray" id="mes" name="mes" placeholder="MM" type="text" value="07" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <div class="form-group">
                                  <input class="form-control form-control-gray" id="ano" name="ano" placeholder="AAA" type="text" value="1987" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="nacionalidad">Nacionalidad</label>
                        <p class="form-control-static">Mexicana</p>
                        <select class="form-control form-control-gray" id="nacionalidad" name="nacionalidad" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Mexicano</option>
                          <option value="1">Colombiano</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Género</label>
                        <p class="form-control-static">Hombre</p>
                        <select class="form-control form-control-gray" id="genero" name="genero" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Mujer</option>
                          <option value="1">Hombre</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <p class="form-control-static">abc@mail.com</p>
                        <input class="form-control form-control-gray" id="email" name="email" placeholder="Email" type="text" value="abc@mail.com" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Estado civil</label>
                        <p class="form-control-static">Soltero</p>
                        <select class="form-control form-control-gray" id="civil" name="civil" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Mexicano</option>
                          <option value="1">Colombiano</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Telefono fijo</label>
                        <p class="form-control-static">123-12345678</p>
                        <input class="form-control form-control-gray" id="tel" name="tel" placeholder="tel" type="text" value="123-12345678" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Teléfono celular</label>
                        <p class="form-control-static">044-19234585760</p>
                        <input class="form-control form-control-gray" id="cel" name="cel" placeholder="cel" type="text" value="044-1234567812" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="compania">Compañía celular</label>
                        <p class="form-control-static">AT&T</p>
                        <select class="form-control form-control-gray" id="compania" name="compania" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>AT&T</option>
                          <option value="1">Movistar</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="col-lg-12 text-left">
                <button id="editar2" type="button" class="pull-right"><span class="glyphmap16-lapiz"></span> Editar</button>
                <h2 class="text-azul2">Domicilio</h2>
                <hr />
              </div>
            </div>


            <fieldset id="set2">
              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Calle</label>
                        <p class="form-control-static">5 de febrero</p>
                        <input class="form-control form-control-gray" id="calle" name="calle" placeholder="Calle" type="text" value="5 de febrero" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label for="default">No. int.</label>
                        <p class="form-control-static">34</p>
                        <input class="form-control form-control-gray" id="no-int" name="no-int" placeholder="no-int" type="text" value="34" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label for="default">No. ext.</label>
                        <p class="form-control-static">201</p>
                        <input class="form-control form-control-gray" id="no-ext" name="no-ext" placeholder="no-ext" type="text" value="201" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Código postal</label>
                        <p class="form-control-static">03539</p>
                        <input class="form-control form-control-gray" id="cp" name="cp" placeholder="cp" type="text" value="03539" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="colonia">Colonia</label>
                        <p class="form-control-static">Hipodromo condesa</p>
                        <select class="form-control form-control-gray" id="colonia" name="colonia" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Condesa</option>
                          <option value="1">Roma</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="default">Delegación o Municipio</label>
                        <p class="form-control-static">Cuauhtemoc</p>
                        <select class="form-control form-control-gray" id="del" name="del" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Cuauhtemoc</option>
                          <option value="1">Cuajimalpa</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="cuidad">Población o Ciudad</label>
                        <p class="form-control-static">Cuidad de México</p>
                        <select class="form-control form-control-gray" id="cuidad" name="cuidad" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Condesa</option>
                          <option value="1">Cuajimalpa</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="form-group">
                        <label for="estado">Estado</label>
                        <p class="form-control-static">Cuidad de México</p>
                        <select class="form-control form-control-gray" id="estado" name="estado" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
                          <option>Cuidad de México</option>
                          <option value="1">Guerrero</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="row">
            <div class="col-xs-2">
              <br />
              <a class="btn btn-default btn-block btn-lg" href="precalificador_step_1.html">Atrás</a>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
              <br />
              <button class="btn btn-info btn-block btn-lg verificar" type="button" data-toggle="modal" data-target="#mymodal">Enviar</button>
            </div>
          </div>
          <fieldset>
          {% include "includes/modal2.html" %}
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>

{% include "includes/footer.html" %}

{% endblock %}
