{% extends "includes/base.html" %}

{% set title = 'BBVA Bancomer' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{%
  set document = {
    "header_img": "header_c.jpg",
    "footer_img": "footer_c.jpg"
  }
%}

{% include "includes/header.html" %}

<div class="gray" id="main" role="main">
  <section class="container" id="felicidades">
    <div class="panel panel-bancomer2 panel-shadow">
      <div class="panel-heading text-center">
        <div class="panel-title">
          <h1>
            <strong>¡Felicidades!</strong><br />
            Tu crédito ha sido aprobado
          </h1>
          <p>Tasa fija 9.50% (10.21% TAE VARIABLE)</p>
          <h2>$180,000 MXN a 5 años</h2>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
              <p>
                <small>
                  * Este Certificado no constituye ni debera considerarse una Oferta Vinculante
                  <br />
                  * El presente Documento estará sujeto a la comprobación de la información registrada
                </small>
              </p>
            </div>
            <div class="col-xs-2">
              <small>Folio: 76543456</small>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body text-center">
        <h4>¿Qué sigue?</h4>
        <p>
          Dirígete a tu sucursal más cercana y muestra esta autorización a
          un ejecutivo de cuentas para seguir con el proceso.
        </p>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-3 div-con-margin-abajo">
            <a class="btn btn-info btn-block btn-lg">Reenviar por correo</a>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary btn-block btn-lg">Imprimir</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% include "includes/footer.html" %}

{% endblock %}
