{% extends "includes/base.html" %}

{% set title = 'BBVA Bancomer' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{%
  set document = {
    "header_img": "header_c.jpg",
    "footer_img": "footer_c.jpg"
  }
%}

{% include "includes/header.html" %}

<div class="gray" id="main" role="main">
  <header>
    <div class="container">
      <h1>Hemos encontrado una mejor oferta para ti</h1>
    </div>
  </header>

  <section class="container">
    <div id="acordeon" class="panel-group">
      <div class="panel panel-azul2 panel-shadow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <p class="text-medium">TASA FIJA <strong>9.85%</strong></p>
            </div>
            <div class="col-xs-4">
              <p class="text-xlarge">Nueva Oferta</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="text-xxlarge">Pagarias al mes</p>
              <p class="text-small">Adquisicion pesos tasa fija cofinavit 75%</p>
            </div>
            <div class="col-xs-4 text-center">
              <p class="text-price">$5,000 MXN</p>
            </div>
            <div class="col-xs-4">
              <a href="precalificador_step_5.html" class="btn btn-info btn-block btn-xlg btn-link">Continuar</a>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-6 right-border text-right">
              <a data-toggle="collapse" data-target="#plan1" data-parent="#acordeon">¿Por qué me conviene?</a>
            </div>
            <div class="col-xs-6">
              <a href="#" data-toggle="modal" data-target="#mymodal">Tabla de amortización</a>
            </div>
          </div>
          <div class="collapse" id="plan1">
            <hr />
            <p class="text-large"><strong>Te conviene por que</strong></p>
            <ul class="list-hyphen">
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-azul2 panel-shadow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <p class="text-medium">TASA FIJA <strong>9.85%</strong></p>
            </div>
            <div class="col-xs-4">
              <p class="text-xlarge">Oferta anterior</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="text-xxlarge">Pagarias al mes</p>
              <p class="text-small">Adquisicion pesos tasa fija cofinavit 75%</p>
            </div>
            <div class="col-xs-4 text-center">
              <p class="text-price">$5,000 MXN</p>
            </div>
            <div class="col-xs-4">
              <a href="precalificador_step_5.html" class="btn btn-info btn-block btn-xlg btn-link">Continuar</a>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-6 right-border text-right">
              <a data-toggle="collapse" data-target="#plan2" data-parent="#acordeon">¿Por qué me conviene?</a>
            </div>
            <div class="col-xs-6">
              <a href="#" data-toggle="modal" data-target="#mymodal">Tabla de amortización</a>
            </div>
          </div>
          <div class="collapse" id="plan2">
            <hr />
            <p class="text-large"><strong>Te conviene por que</strong></p>
            <ul>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
              <li>Tienes poco enganche</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% include "includes/modal.html" %}
  </section>
</div>

{% include "includes/footer.html" %}

{% endblock %}
