<legend>Cuéntanos sobre ti… ¿Cómo te llamas?</legend>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label for="nombre">Nombre(s)</label>
      <input class="form-control form-control-gray" id="nombre" name="nombre" placeholder="Alberto" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
    <br />
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="apellido-paterno">Apellido paterno</label>
      <input class="form-control form-control-gray" id="apellido-paterno" name="apellido-paterno" placeholder="Apellido paterno" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="apellido-materno">Apellido materno</label>
      <input class="form-control form-control-gray" id="apellido-materno" name="apellido-materno" placeholder="Apellido materno" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-12">
        <label for="dia">Fecha de nacimiento</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <input class="form-control form-control-gray" id="dia" name="dia" placeholder="DD" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <input class="form-control form-control-gray" id="mes" name="mes" placeholder="MM" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <input class="form-control form-control-gray" id="ano" name="ano" placeholder="AAA" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="pais">País / Nacionalidad</label>
      <select class="form-control form-control-white" id="pais" name="pais" placeholder="gastos" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
        <option></option>
        <option value="1">México</option>
        <option value="2">Colombia</option>
      </select>
    </div>
  </div>
  <div class="col-xs-4">
    <label for="default">Género</label>
    <br />
    <div class="btn-group btn-toggle">
      <button type="button" class="btn btn-primary-shadow" id="genero-h">H</button>
      <button type="button" class="btn btn-default" id="genero-m">M</button>
    </div>
    <input type="checkbox" name="auto" id="h-input" checked="checked" />
    <input type="checkbox" name="auto" id="m-input" />
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label for="rfc">RFC <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
      <input class="form-control form-control-gray" id="rfc" name="rfc" placeholder="Ej. PRHC872407H37" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
    <br />
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="civil">Estado civil</label>
      <select class="form-control form-control-white" id="civil" name="civil" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
        <option></option>
        <option value="1">Soltero</option>
        <option value="2">Casado</option>
      </select>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input class="form-control form-control-gray" id="email" name="email" placeholder="Ej. correo@mail.com" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="lada">Clave LADA <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
          <input class="form-control form-control-gray" id="lada" name="lada" placeholder="LADA" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
        </div>
      </div>
      <div class="col-xs-7">
        <div class="form-group">
          <label for="tel">Teléfono fijo</label>
          <input class="form-control form-control-gray" id="tel" name="tel" placeholder="De 8 digitos" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="cel">Teléfono celular</label>
      <input class="form-control form-control-gray" id="cel" name="cel" placeholder="Número celular de 10 dígitos" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="celular">Compañia celular</label>
      <select class="form-control form-control-white" id="celular" name="celular" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
        <option></option>
        <option value="1">Telcel</option>
        <option value="2">Movistar</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <br />
    <a class="btn btn-default btn-block btn-lg" href="precalificador.html">Atrás</a>
  </div>
  <div class="col-xs-2 col-xs-offset-8">
    <br />
    <button class="btn btn-info btn-block btn-lg next" type="button">Continuar</button>
  </div>
</div>
