<legend>¿Donde vives actualmente?</legend>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label for="calle">Calle</label>
      <input class="form-control form-control-gray" id="calle" name="calle" placeholder="Lago Alberto" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
    <br />
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label for="interior">No. interior</label>
      <input class="form-control form-control-gray" id="interior" name="interior" placeholder="Interior" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label for="exterior">No. exterior</label>
      <input class="form-control form-control-gray" id="exterior" name="exterior" placeholder="Exterior" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="cp">Código Postal</label>
      <input class="form-control form-control-gray" id="cp" name="cp" placeholder="Código Postal" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label for="colonia">Colonia</label>
      <select class="form-control-white" id="colonia" name="colonia" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
        <option></option>
        <option value="1">Sierra Nevada</option>
      </select>
    </div>
    <br />
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="del">Delegación o municipio</label>
      <input class="form-control form-control-gray" id="del" name="del" placeholder="Benito Juárez" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label for="ciudad">Población / Cuidad</label>
      <input class="form-control form-control-gray" id="ciudad" name="ciudad" placeholder="México" type="text" required="required" pattern="^[_A-z0-9]{1,}$" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label for="estado">Estado</label>
      <select class="form-control form-control-white" id="estado" name="estado" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom">
        <option></option>
        <option value="1">Cuidad de México</option>
        <option value="2">Estado de México</option>
      </select>
    </div>
    <br />
  </div>
  <div class="col-xs-4">

  </div>
  <div class="col-xs-4">

  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <br />
    <button class="btn btn-default btn-block btn-lg previous" type="button">Atrás</button>
  </div>
  <div class="col-xs-2 col-xs-offset-8">
    <br />
    <button class="btn btn-info btn-block btn-lg" type="submit">Continuar</button>
  </div>
</div>
