<!-- Modal -->
<div class="modal fade" tabindex="-1" id="mymodal" role="dialog" aria-labelledby="gridsystemsodallabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row text-center">
          <div class="col-xs-12">
            <div id="captcha">
              <h2>Espacio para Captcha de BBVA Bancomer</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <div class="checkbox-awesome checkbox-primary">
                <input type="checkbox" id="checkbox1" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom"/>
                <label for="checkbox1">
                  Certifíco que estas afirmaciones son verdaderas
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox-awesome checkbox-primary">
                <input type="checkbox" id="checkbox2" required="required" data-error="Olvidaste llenar este campo" data-toggle="tooltip" data-placement="bottom"/>
                <label for="checkbox2">
                  Autorizo la consulta de mi información en buró de crédito.
                </label>
              </div>
            </div>
            <p>
              <a href="#" class="text-muted"><u>Ver terminos y condiciones</u></a>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-2">
            <br />
            <button class="btn btn-default btn-block btn-lg" data-dismiss="modal" type="button">Atrás</button>
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
            <br />
            <button type="submit" class="btn btn-info btn-block btn-lg">Enviar</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
