<div role="tabpanel" class="tab-pane active" id="home">

  <div class="row">
    <div class="col-xs-12 text-left">
      <br /><br />
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default"><span class="number">1.</span> Ingreso mensual bruto <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <div class="input-group input-group-inset">
              <span class="input-group-addon input-group-addon-inset" id="basic-addon1"><span class="glyphmap24-pesos"></span></span>
              <input class="form-control" id="default1" name="default" placeholder="15,000" type="text" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default"><span class="number">2.</span> Tengo para el enganche <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <div class="input-group input-group-inset">
              <span class="input-group-addon input-group-addon-inset" id="basic-addon2"><span class="glyphmap24-pesos"></span></span>
              <input class="form-control" id="default2" name="default" placeholder="10,000" type="text" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default"><span class="number">3.</span> A cuantos años <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <select class="form-control" id="select" name="select" placeholder="Número">
              <option>5 años</option>
              <option value="1">Uno</option>
              <option value="2">Dos</option>
              <option value="3">Tres</option>
              <option value="4">Cuatro</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
              <label for="default">Calcular</label>
              <select class="form-control select-large" id="select2" name="select" placeholder="Número">
                <option>Con lo que cuesta la casa que quiero</option>
                <option value="1">Con el monto de crédito que necesito</option>
              </select>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-4">
          <label for="default">Tienes Nómina con Bancomer</label>
          <br />
          <div class="btn-group btn-toggle">
            <button type="button" class="btn btn-primary-shadow" id="nomina-si">Si</button>
            <button type="button" class="btn btn-default" id="nomina-no">No</button>
            <input type="checkbox" name="nomina" id="nomina-input" checked="checked" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br /><br />
      <input id="barra-1" data-slider-id="barra-1-Slider" type="text" data-slider-tooltip="hide" data-slider-min="200000" data-slider-max="45000000" data-slider-step="50000" data-slider-value="200000"/>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 slider-left">
      <p>
        Mínimo $200,000
      </p>
    </div>
    <div class="col-xs-6 slider-right">
      <p>
        Máximo $45 millones
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br /><br />
      <input id="barra-2" data-slider-id="barra-2-Slider" type="text" data-slider-tooltip="hide" data-slider-min="200000" data-slider-max="40000000" data-slider-step="50000" data-slider-value="180000"/>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 slider-left">
      <p>
        Mínimo $180,000
      </p>
    </div>
    <div class="col-xs-6 slider-right">
      <p>
        Máximo $40 millones
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="row">
        <div class="col-xs-4">
          <label for="default">Con que tipo de apoyo cuentas</label>
          <br />
          <div class="btn-group btn-toggle">
            <button type="button" class="btn btn-primary-shadow" id="apoyo-infonavit">Infonavit</button>
            <button type="button" class="btn btn-default" id="apoyo-fovissste">Fovissste</button>
            <input type="checkbox" name="nomina" id="infonavit-input" checked="checked" />
            <input type="checkbox" name="nomina" id="fovissste-input" />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default">¿Que programa tienes?</label>
            <select class="form-control" id="programa" name="programa" placeholder="programa">
              <option>Cofinavit</option>
              <option value="1">Otro</option>
            </select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default">Porcentaje de gastos</label>
            <select class="form-control" id="gastos" name="gastos" placeholder="gastos">
              <option>6%</option>
              <option value="1">7%</option>
              <option value="1">10%</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <br /><br />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default">Monto del crédito <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <div class="input-group input-group-inset">
              <span class="input-group-addon input-group-addon-inset" id="basic-addon5"><span class="glyphmap24-pesos"></span></span>
              <input class="form-control" id="default5" name="default" placeholder="150,000" type="text" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default">Saldo de vivienda <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <div class="input-group input-group-inset">
              <span class="input-group-addon input-group-addon-inset" id="basic-addon6"><span class="glyphmap24-pesos"></span></span>
              <input class="form-control" id="default6" name="default" placeholder="7,000" type="text" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="default">Gastos Infonavit <span class="glyphmap24-interrogacion" data-toggle="tooltip" data-placement="right" title="Aquí va mas información"></span></label>
            <div class="input-group input-group-inset">
              <span class="input-group-addon input-group-addon-inset" id="basic-addon7"><span class="glyphmap24-pesos"></span></span>
              <input class="form-control" id="default7" name="default" placeholder="8,000" type="text" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <br /><br />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 slider-left">
      <p>
        <br />
        <a><span class="glyphmap24-mas"></span></a> Calcular con mi Infonavit o Fovissste
      </p>
    </div>
    <div class="col-xs-4 slider-right">
      <button class="btn btn-success" type="button">Simular mi crédito</button>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="hr-text lg">
        <h2>¿Que opciones me convienen?</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <div id="acordeon" class="panel-group">
        <div class="panel panel-azul2 panel-shadow">
          <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                  <p class="text-medium">TASA FIJA <strong>9.85%</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                  <p class="text-xxlarge">Pagarias al mes</p>
                  <p class="text-small">Adquisicion pesos tasa fija cofinavit 75%</p>
                </div>
                <div class="col-xs-4 text-center">
                  <p class="text-price">$5,000 MXN</p>
                </div>
                <div class="col-xs-4">
                  <a href="precalificador.html" class="btn btn-info btn-block btn-xlg btn-link">Precalificar ¡AHORA!</a>
                </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-6 right-border text-right">
                <a data-toggle="collapse" data-target="#plan1" data-parent="#acordeon">¿Por qué me conviene?</a>
              </div>
              <div class="col-xs-6">
                <a href="#" data-toggle="modal" data-target="#mymodal">Tabla de amortización</a>
              </div>
            </div>
            <div class="collapse" id="plan1">
              <hr />
              <p class="text-large"><strong>Te conviene por que</strong></p>
              <ul class="list-hyphen">
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-azul2 panel-shadow">
          <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                  <p class="text-medium">TASA FIJA <strong>9.85%</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                  <p class="text-xxlarge">Pagarias al mes</p>
                  <p class="text-small">Adquisicion pesos tasa fija cofinavit 75%</p>
                </div>
                <div class="col-xs-4 text-center">
                  <p class="text-price">$5,000 MXN</p>
                </div>
                <div class="col-xs-4">
                  <a href="precalificador.html" class="btn btn-info btn-block btn-xlg btn-link">Precalificar ¡AHORA!</a>
                </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-6 right-border text-right">
                <a data-toggle="collapse" data-target="#plan2" data-parent="#acordeon">¿Por qué me conviene?</a>
              </div>
              <div class="col-xs-6">
                <a href="#" data-toggle="modal" data-target="#mymodal">Tabla de amortización</a>
              </div>
            </div>
            <div class="collapse" id="plan2">
              <hr />
              <p class="text-large"><strong>Te conviene por que</strong></p>
              <ul>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
                <li>Tienes poco enganche</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include "includes/modal.html" %}

  <div class="row">
    <div class="col-xs-12 text-left">
      <br /><br />
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 conocemas">
      <a href="#"><span class="glyphmap24-mas"></span> Conoce todas las opciones de créditos hipotecarios</a>
    </div>
  </div>
</div>
