/*
 * BBVA Bancomer
 * Copyright 2016-present The Cocktail América S.A. de C.V.
 *
 * Mixin glypmaps
 *
 */

 // Glypmap
@mixin glyphmap($name, $index) {
  $x: $glyphmap-width * $index;
  $y: $glyphmap-height;

  .glyphmap-#{$name} { background-position: -#{$x}px 0; }
  .glyphmap64-#{$name} { background-position: -#{$x / 2}px 0; }
  .glyphmap32-#{$name} { background-position: -#{$x / 4}px 0; }
  .glyphmap24-#{$name} { background-position: -#{$x / 5}px 0; }
  .glyphmap16-#{$name} { background-position: -#{$x / 8}px 0; }

  .active .glyphmap-#{$name}.glyphmap-on,
  .active .glyphmap-#{$name} {
    background-position: -#{$x}px -#{$y}px;
  }
}

// Transformations
@mixin grayscale($factor) {
  -webkit-filter: grayscale($factor);
     -moz-filter: grayscale($factor);
      -ms-filter: grayscale($factor); // IE9 only
       -o-filter: grayscale($factor);
          filter: grayscale($factor);
}

@mixin brightness($factor) {
  -webkit-filter: brightness($factor);
     -moz-filter: brightness($factor);
      -ms-filter: brightness($factor); // IE9 only
       -o-filter: brightness($factor);
          filter: brightness($factor);
}
