{% extends "includes/base.html" %}

{% set title = 'BBVA Bancomer' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{%
  set document = {
    "header_img": "header.jpg",
    "footer_img": "footer.jpg"
  }
%}

{% include "includes/header.html" %}

<div id="main" role="main">
  <section id="header">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <h1>¿Qué crédito buscas o necesitas?</h1>
              </div>
          </div>
      </div>
  </section>

  <section id="banner">
      <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <img class="img-responsive" src="img/main.jpg" alt="main" />
              <div class="row pos-absolute">
                <div id="banner-cta" class="col-xs-5">
                  <div class="row">
                    <div id="banner-cta-title" class="col-xs-12">
                      <h2>El crédito perfecto para la casa de tus sueños te está esperando.</h2>
                      <hr />
                    </div>
                  </div>
                  <div class="row">
                    <div id="banner-cta-content" class="col-xs-12 text-center">
                      <h3>Estamos aquí para ayudarte a conseguirlo.</h3>
                      <a class="btn btn-success-shadow" href="#simulador">Simular mi crédito</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <section id="pasos">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <div class="glyphmap64-calculadora hidden-sm hidden-xs"></div>
                        <h2 class="text-primary">1. Calcula</h2>
                        <p>Simula el costo de la propiedad, más lo que tienes de enganche para conocer el producto que te conviene.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <div class="glyphmap64-certificado hidden-sm hidden-xs"></div>
                        <h2 class="text-primary">2. Precalifica</h2>
                        <p>Necesitamos consultar tu Buró de Crédito así como algunos datos para saber si eres sujeto a crédito.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <div class="glyphmap64-casaymesa hidden-sm hidden-xs"></div>
                        <h2 class="text-primary">3. Obtén aprobación</h2>
                        <p>En menos de 5 minutos, si tu Precalificación cumple con todos los requerimientos ¡serás aprobado!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </section>


  <section id="simulador">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
                <br />
                <h1>Simulación de mi crédito</h1>
                <p>
                  Ayúdanos ingresando la siguiente información para hacer la simulación lo mas precisa posible.
                </p>
                <br />
            </div>
            <div class="col-xs-12 text-center">
            <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Comprar una casa</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Comprar un terreno</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Remodelar mi casa</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Cambiar mi Hipoteca</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Obtener liquidez</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                {% include "includes/tab1.html" %}
                <div role="tabpanel" class="tab-pane" id="profile">...</div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                <div role="tabpanel" class="tab-pane" id="settings">...</div>
              </div>
            </div>

          </div>
      </div>
  </section>

  <section id="dos-btn">
      <div class="container">
          <div class="row">
            <div class="col-xs-1 dos-btn-item">
            </div>
            <div class="col-xs-5 dos-btn-item right-border">
              <div class="media dos-btn-item-left">
                <div class="media-left">
                    <span class="glyphmap64-telefono hidden-sm hidden-xs"></span>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">55-30-46-00</h4>
                  <p class="text-uppercase">
                    Lun-VIE 8 AM - 10 PM | SAB 9 AM - 6 PM
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5 dos-btn-item">
              <div class="media dos-btn-item-right">
                <div class="media-left">
                    <span class="glyphmap64-persona hidden-sm hidden-xs"></span>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Quiero que me asesoren</h4>
                  <p>
                    Inicia un chat en vivo LUN-VIE 8 AM - 10 PM
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <section id="ayuda">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <h2 class="text-primary">Sucursales</h2>
                        <p>Acude a cualquiera de nuestras 1800 sucursales o a una de los 56 Centros Hipotecarios ubicados en toda la República Méxicana.</p>
                        <br />
                        <button class="btn btn-success" type="button">Ubica la más cercana</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <h2 class="text-primary">Ayuda</h2>
                        <p>
                          &middot; Servicios<br />
                          &middot; Preguntas frecuentes<br />
                          &middot; Contactanos por correo electónico<br />
                          &middot; Documentos<br />
                        </p>
                        <br />
                        <button class="btn btn-success" type="button">¿Necesitas ayuda?</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default panel-solid">
                      <div class="panel-body text-center">
                        <h2 class="text-primary">Formas de pago</h2>
                        <p>¿Ya cuentas con un crédito crédito hipotecario? Identifica los medios de pago y aprovecha sus beneficios.</p>
                        <br /><br />
                        <button class="btn btn-success" type="button">Ingresar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <br />
              <hr />
              <br />
            </div>
          </div>

      </div>
  </section>

</div>

{% include "includes/footer.html" %}

{% endblock %}
